@import 'navbar';

*{
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: wheat;
  &:visited{
    color: wheat;
  }
}


.head{
  z-index: -1;
  position: fixed;
  text-align: center;
  width: 100%;
  height: 800px;
  background-color: white;
  color: #000000;

  h1{
    font-size: 12vw; 
  }

  h2{
    font-size: 6vw;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
}


.transparentFrame{
  background-color: transparent;
  width: 100%;
  height: 800px;
}


.page{
  padding-top: 2em;
  padding-bottom: 2em;
  background-color:#000000;
  height: auto;
  min-height: fit-content;
  color: wheat;

  h1{
    font-size: 7vh;
    color: white;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 3vh;
  }

  h2{
    font-size: 6vh;
  }

  h3{
    font-size: 5vh;
    color: white;
    margin-bottom: 5vh;
  }

  p{
    font-size: 4vh;
    color: white;
  }

  ul{
    margin-top: 6vh;
    margin-bottom: 6vh;
  }
  li{
    font-size: 4vh;
    color: white;
  }

}


.centerBox{
  text-align: center;
  display: inline;
  margin-top: 5vh;

  .l{
    margin-right: 25vw;
    color: wheat;
  }

  
}

.contentBox{
  
  min-width: 250px;
  width: 100%;
  text-align: left;
  

  h2{
    padding-left: 1vh;
    color: wheat;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }

  .info{
    h3{
      text-align: center;
      color: white;
    }
  }

}




.card{

  width: auto;
  max-width: 20%;
  min-width: 20em;
  background-color: black;
  text-align: center;
  border: 2px solid white;

  height: auto;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

  a{
    width: auto; 
    max-width: 20%;
    height: 100%;
  }

  img{
    width: 100%;
  }

  &:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}


