*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
a{
    cursor: pointer;
}

.navbar{

  overflow: hidden;
  background-color: deepskyblue;
  width: 100%;
  height: auto;
  min-height: 3em;

  a{
    float: left;
    background-color: deepskyblue;
    padding: 14px 16px;
    height: 100%;

    &:hover{
      background-color:#00baf0;
    }

    &.onPage{
        background-color: #0050bf;
        color: white;
    }
  }

}

.head{
  text-align: center;
  margin-top: 50px;
  height: auto;
  min-height: 150px;
  background-color: white;
  color:darkblue;
}


.page{
  text-align: center;
  background-color:deepskyblue;
  height: auto;
  min-height: fit-content;
}