.navbar{
  
  position: fixed;
  overflow: hidden;
  top: 0;
  background-color: black;
  width: 100%;
  height: auto;
  min-height: 3vh;

  img{    
    float: left;
    max-block-size: 2em;
    min-block-size: 1em;
    margin-top: 0.1em;
    margin-left: 0.1em;
  }

  a{
    margin-top: 1vh;
    float: right;
    padding: 1vh 1vw;
    
    height: 100%;

    &:hover{
      background-color:#101010;
    }

    &.onPage{
      background-color: #202020;
      color: white;
    }
  }
}